* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* utility class */

.btn-primary {
  display: inline-flex;
  padding: 20px 43px;
  margin-top:20px ;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: #E55473;
  color: #ffffff;
  border: 0;
}

.btn {
  padding-bottom: 30px;
  gap: 10px;
}

.heading {
  font-size: 35px;
}

.title {
  font-size: 18px;
}

.span {
  color: #E55473;
}

/* banner section */

#banner {
  display: flex;
  height: 850px;
  width: 100%;
  align-items: center;
  background-color: rgba(229, 84, 115, 0.10);;
}

.banner-container {
  margin-left: 100px;
}

.banner-header {
  font-size:60px;
  padding-bottom: 10px;
}

.banner-text {
  font-style: italic;
  line-height: 20px;
}

.image {
  margin-right: 100px;
  margin-top: 49px;
}

.feature {
  display: flex;
  flex-direction: column;
}

.feature-des {
  text-align: center;
  margin: 80px 0;
}

.feature-des > .feature-h1 {
  margin-bottom: 20px;
  font-size: 40px;
}

.feature-des > p {
  padding: 10px 0;
  line-height: 20px;
}

.feature-flowers {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.feature-p {
  text-align: center;
}

.img-1 {
  height:350px ;
  margin-top: 74px;
  margin-bottom: 30px;
  padding-left:  40px;
  padding-right: 40px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}

.img-2 {
  margin-top: 54px;
  margin-bottom: 30px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}
.img-3 {
  height: 400px;
  margin-top: 24px;
  margin-bottom: 30px;
  padding: 0 40px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}

/* Service Section */

.service-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  line-height: 35px;
  font-size: 24px;
  height: 250px;
  width: 90%;
  margin:auto;
  margin-top: 80px;
  margin-bottom: 80px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
}

/* Deal Section */

#deal-section {
  display: flex;
  justify-content: space-evenly;
  height: 500px;
  align-items: center;
  border-radius: 8px;
  background-color: rgba(229, 84, 115, 0.05);
}

.deal-description {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.flr-title {
  text-align: center;
  font-size: 40px;
  margin-top: 80px;
}

.flr-description {
  text-align: center;
  margin-top: 10px;
}

.flr-img {
  width: 100%;
}

.flowers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  padding-top: 40px;
  gap: 10px;
}

.latest-deal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
  align-items:center;
  background-image: url(../image/Rectangle\ 9.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 8px;
  margin: 80px ;
}

.heading-LD {
  font-size:40px ;
  padding-bottom: 20px;
}

.LD-text {
  margin-left: 100px;
  padding-bottom: 20px;
}

input {
  display: inline-flex;
  padding-right: 80px;
  padding: 20px 43px;
  align-items: center;
  border-radius: 8px;
  background-color: #ffffff;
  border: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  height: 150px;
  background-color: #111010;
  color: #ffffff;
  align-items: center;
  padding-top: 20px;
}

.footer p {
  text-align: center;
  margin: 10px;
  line-height: 20px;
}

.footer h1 {
  font-size: 40px;
}
