* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* utility class */

.btn-primary {
  display: inline-flex;
  padding: 20px 43px;
  margin-top:20px ;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: #E55473;
  color: #ffffff;
  border: 0;
}

.logo-1 {
  margin-left: 90px;
  margin-bottom: 10px;
}

.logo-2 {
  margin-left: 75px;
  margin-bottom: 10px;
}

.logo-3 {
  margin-left: 25px;
  margin-bottom: 10px;
}

.title {
  font-size: 18px;
}

/* banner section */

#banner {
  display: flex;
  height: 850px;
  width: 100%;
  align-items: center;
  background-color: rgba(229, 84, 115, 0.10);;
}

.banner-container {
  margin-left: 100px;
}

.banner-header {
  font-size:60px;
}

.banner-text {
  font-style: italic;
  padding-top: 10px;
  line-height: 20px;
}

.image {
  margin-right: 100px;
  margin-top: 49px;
}

/* Service Section */

.service-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 250px;
  margin: 75px 100px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
}

/* .serveer .logo {
  align-items: center;
} */